.pizza {
  border: 1px solid;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
  background-image: url("images/pizza slice2.jpeg");
  color: white;
}

.pizzas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px; 
  padding: 50px;
  text-align: center;
}

@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  th {
    display: none;
  }
  tr {
    margin-bottom: 15px;
  }
  
  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
  
}

[x-cloak] {
  display: none !important;
}

body {
  background-image: url("images/pizza bg2.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.cart button {
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bolder;
}

.cart button:hover {
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bolder;
  background-color: aqua;
}

.logging button {
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bolder;
}

.logging button:hover {
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bolder;
  background-color: aqua;
}
.pizzas button, .pizza button {
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bolder;
}
.pizzas button:hover, .pizza button:hover {
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bolder;
  background-color: aqua;
}
.address {
  float:inline-start
}
.socials {
  float: inline-end;
}
h1 {
  text-align: center;
}
.pizza-list {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
  
}

.pizza-item {
  flex: 1 1 calc(33.333% - 32px);
  box-sizing: border-box;
  padding: 20px; 
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em; 
  
}


